{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Logged out" %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid kr-center-container">
            <div class="kr-center kr-wrapper">
                <h3>{% trans "Logged out" %}</h3>
                <hr/>
                <div class="alert alert-info text-center">
                    {% trans "Thanks for spending some quality time with the Web site today." %}<br/>
                </div>
                <div class="kr-center-container">
                    <a class="btn-u" href="{% url 'auth_login' %}">{% trans 'Log in again' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}