{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block page_title %}{% trans "Reset password" %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Reset password" %}</li>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row-fluid kr-center-container ">
        <div class="kr-center kr-wrapper">
            <h1>{% trans "Reset password" %}</h1>
            <hr />
            <div class="alert alert-info text-center">
                {% blocktrans %}We successfully resetted your password.{% endblocktrans %}
            </div>
        </div>

        </div>
    </div>
{% endblock %}