{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row-fluid kr-center-container">
            <div class="kr-center kr-wrapper">
                <h3>{% trans 'Password change successful' %}</h3>
                <hr/>
                <div class="text-center">
                    <a href="{% url 'home' %}" class="btn-u">{% trans 'Ok' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}