{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block page_title %}{% trans "Reset password" %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Reset password" %}</li>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row-fluid">
        <form class="reg-page form-horizontal" action="." method="post" />{% csrf_token %}
            <h3>{% trans "Reset password" %}</h3>
            {{ form.non_field_errors }}
            <div class="control-group{% if form.email.errors %} error{% endif %}">
                <label class="control-label">{{ form.email.label }}<span class="color-red">*</span></label>
                <div class="controls">
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="help-block">{{ form.email.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="kr-center-container">
                <button class="btn-u" type="submit">{% trans "Reset password" %}</button>
            </div>
        </form>
    </div><!--/row-fluid-->
</div><!--/container-->
{% endblock %}