{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block page_title %}{% trans "Reset password" %}{% endblock %}

{% block breadcrumbs %}
    <li class="active">{% trans "Reset password" %}</li>
{% endblock %}


{% block content %}
    {% if validlink %}
        <div class="container">
            <div class="row-fluid">
                <form action="." class="reg-page" method="post">{% csrf_token %}
                    <h3>{% trans "Reset password" %}</h3>
                    {{ form.non_field_errors }}
                    <div class="controls">
                        <label>{{ form.new_password1.label }}<span class="color-red">*</span></label>
                        {{ form.new_password1 }}
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="controls">
                        <label>{{ form.new_password2.label }}<span class="color-red">*</span></label>
                        {{ form.new_password2 }}
                        {{ form.new_password2.errors }}
                    </div>

                    <div class="controls form-inline">
                        <button class="btn-u pull-right" type="submit">{% trans "Change password" %}</button>
                    </div>
                </form>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row-fluid kr-center-container ">
                <p>
                    {% blocktrans %}The reset link is invalid. Please double check the link.{% endblocktrans %}
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
