{% extends 'base.html' %}
{% load endless %}
{% load i18n %}

{% block title %}{% trans 'List of Active Tenders you have bid on' %}{% endblock %}

{% block content %}
<div class="container tender-list">
	<div class="row-fluid kr-wrapper">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li {% if active_tenders_tab == 'active' %} class="active" {% endif %}><a href="#tab1" data-toggle="tab">Active
                    Tenders</a></li>
                <li {% if active_tenders_tab == 'experied' %} class="active" {% endif %}><a href="#tab2" data-toggle="tab">Expired Tenders</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane {% if active_tenders_tab == 'active' %}active{% endif %}" id="tab1">
                    <div class="row-fluid ">
                        <h3>{% trans 'List of Active Tenders you have bid on' %}</h3>
                        {% paginate 10 tender_list %}
                        <ul class="unstyled">
                            {% for tender in tender_list %}
                                <li>
                                    <a href="{% url 'employer-tender-detail' tender.id %}"
                                       class="tender-item hover-effect active">
                                        <span class="title">{{ tender.title }}</span>
                                        <span><strong>Type of Tender:</strong>
                                            {{ tender.get_type_display }}
                                        </span>
                                        <span><strong>Public Type:</strong>
                                            {{ tender.get_type_public_display }}
                                        </span>
                                        <span><strong>{% trans 'Posted' %}:</strong>
                                            {{ tender.created|date:"d/m/Y" }}
                                            {{ tender.created|time:"P" }}
                                        </span>
                                        <span><strong>{% trans 'Deadline' %}:</strong>
                                            {{ tender.deadline|date:"d/m/Y" }}
                                            {{ tender.deadline|time:"P" }}
                                        </span>
                                        <span><strong>{% trans 'Proposals' %}:</strong> {{ tender.count_bids }}</span>
                                    </a>
                                </li>
                            {% empty %}
                                {% trans "You don't have active bids." %}
                            {% endfor %}
                        </ul>
                    </div>

                        <div class="row-fluid pagination pagination-centered">
                            <span class="block">
                                {% show_pages %}
                            </span>
                        </div>
                </div>
                <div class="tab-pane {% if active_tenders_tab == 'experied' %}active{% endif %}" id="tab2">
                    <div class="row-fluid ">
                        <h3>{% trans 'List of Experied Tenders you have bid on' %}</h3>
                        {% paginate 10 experied using "experied_page" %}
                        <ul class="unstyled">
                            {% for tender in experied %}
                                <li>
                                    <a href="{% url 'employer-tender-detail' tender.id %}"
                                       class="tender-item hover-effect active">
                                        <span class="title">{{ tender.title }}</span>
                                        <span><strong>Type of Tender:</strong>
                                            {{ tender.get_type_display }}
                                        </span>
                                        <span><strong>Public Type:</strong>
                                            {{ tender.get_type_public_display }}
                                        </span>
                                        <span><strong>{% trans 'Posted' %}:</strong>
                                            {{ tender.created|date:"d/m/Y" }}
                                            {{ tender.created|time:"P" }}
                                        </span>
                                        <span><strong>{% trans 'Deadline' %}:</strong>
                                            {{ tender.deadline|date:"d/m/Y" }}
                                            {{ tender.deadline|time:"P" }}
                                        </span>
                                        <span><strong>{% trans 'Proposals' %}:</strong> {{ tender.count_bids }}</span>
                                    </a>
                                </li>
                            {% empty %}
                                {% trans "You don't have experied bids." %}
                            {% endfor %}
                        </ul>
                        <div class="row-fluid pagination pagination-centered">
                            <span class="block">{% show_pages %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-js %}
    {% include 'includes/multiple_paginator_js.html' %}
{% endblock %}
