{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- CSS Global Compulsory-->

    <link rel="stylesheet"
          href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/headers/header1.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'plugins/bootstrap/css/bootstrap-responsive.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style_responsive.css' %}"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet"
          href="{% static 'plugins/font-awesome/css/font-awesome.css' %}"/>

    <!-- Custom CSS -->
    {% block css-add %}{% endblock %}
    {% block extra-css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/auction.css' %}"/>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>
<div class="without-footer">

{% include 'includes/top_bar.html' %}

{% block header %}
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <div class="logo" style="position: relative; margin-bottom: 5px;">
                <a href="{% url 'home' %}"><img id="logo-header"
                                                src="{% static 'img/logo1-default.png' %}" alt="Logo"/></a>
            </div>
            <!-- /logo -->
            {% include 'includes/navbar.html' %}
        </div>
        <!-- /container -->
    </div><!--/header -->
{% endblock %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
</div>
<!--/breadcrumbs-->
<!--=== Content Part ===-->
{% block content %} {% endblock %}
</div>


<div class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="pull-left">2015 &copy; ALL Rights Reserved.</div>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="{% static 'js/jquery-1.8.2.min.js'%}"></script>
<script type="text/javascript"
        src="{% static 'js/modernizr.custom.js'%}"></script>
<script type="text/javascript"
        src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'plugins/back-to-top.js'%}"></script>
<script type="text/javascript"
    src="{% static 'js/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        if ($(window).height()>$('body').outerHeight()){
            $('.footer').css({'position': 'fixed'})
        }
    });
    $(window).resize(function(){
        if ($(window).height()>$('.without-footer').outerHeight(true)+$('.footer').outerHeight(true)){
            $('.footer').css({'position': 'fixed'})
        } else {
            $('.footer').css({'position': 'relative'})
        }
    });
    $('body').on('keydown', 'input', function(e){
        if (!$(this).parents('form').hasClass('enter_action')){
            if (e.keyCode == 13 ) return false;
        }
    });
</script>

<script src="{% static 'js/respond.js' %}"></script>
{% block js-add %}{% endblock %}
{% block extra-js %}{% endblock %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29166220-1']);
    _gaq.push(['_setDomainName', 'htmlstream.com']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>
</html> 